sudo: false
language: node_js
cache: yarn
node_js:
- '8'
os:
- linux
before_install:
- if [ $TRAVIS_OS_NAME == "linux" ]; then export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
  sh -e /etc/init.d/xvfb start; sleep 3; fi
install:
- yarn
- yarn vscode:prepublish
script:
- yarn test:coverage
- node_modules/.bin/coveralls < coverage/lcov.info;