.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
tsconfig.prod.json
vsc-extension-quickstart.md
tslint.json
jest.config.js
coverage/**
bin/**
.github/**
__mocks__/**
